<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RestAssuredAPISuite" verbose="1">

    <listeners>
        <listener class-name="listeners.ExtentReportListener"/>
    </listeners>

    <!-- Smoke tests -->
    <test name="SmokeTests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="tests.GetUserTests"/>
            <class name="tests.PostRequestTests"/>
            <class name="tests.DeleteRequestTests"/>
            <class name="tests.AdvancedApiTests"/>
        </classes>
    </test>

    <!-- Full regression -->
    <test name="RegressionTests">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="tests.GetUserTests"/>
            <class name="tests.PostRequestTests"/>
            <class name="tests.PostExcelDataTests"/>
            <class name="tests.DeleteRequestTests"/>
            <class name="tests.AdvancedApiTests"/>
        </classes>
    </test>

</suite>